body{
  Background: url(bg.jpg) no-repeat center fixed;
  Background-size: cover;
  Text-align:center;
}

h2 {
  Text-shadow: 3px 2px darkslategrey;
  Background-Color: darkseagreen;
  Margin: 30px;
  font-family: copperplate;
  font-size: 400%
}
h3 {

  Text-shadow: 3px 2px darkslategrey;
  Margin: 30px;
  font-family: copperplate;
  font-size: 300%
}
p {
  color: white;
  Background-Color: black;
  Margin:30px;
  font-family: courier new;
  Font-size: 100%;
}
a:link{
Color:black
}
a:visited{
Color:brown
}
a:hover{
Color:white
}
a:active{
Color:green
}

ul.a {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  Background-color: seagreen;
  Font-family: Copperplate
}

li.a {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  Font-weight: bold;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: darkslategray;
}

li.dropdown {
  display: inline-block;
  Float:left

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {background-color: grey}

.dropdown:hover .dropdown-content {
  display: block;
}
table, th, td {
  border: 2px solid darkolivegreen;
  Background-Color:white;
  Margin:auto;
}
th, td {
  padding: 5px;
  text-align: left;
}    
ul.b {
  Color: black;
  Background: #2e8558;
  Padding: 15px;
  Font-Family: timesnewroman;
  Text-align: left;
  List-style-type:square;
}
ul li.b{
  Background: #d9f2e5;
  Padding: 3px;
  Margin-left: 35px;
}
p.t{
   Color: pink
   Background-color: white
}
.btn-group .button {
  Border: 2px solid green;
  Border-radius: 15px 50px;
  Background-color:mediumseagreen;
  color: brown;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  Font-family: copperplate;
  font-size: 14px;
  Font-weight: bold;
  cursor: pointer;
  float: center;
  Height:20px
  Width:150px
}

.btn-group .button:hover {
  background-color: darkslategrey;
}

div.background {
  background: url(header.jpg) repeat center;
  Border:2px solid transparent;
}

div.transbox {
  margin: 80px 280px;
  background-color: white;
  Border: 1px solid white;
  opacity: 0.6;
}

div.transbox p {
  margin: 2%;
  font-weight: bold;
  Font-family: bangers;
  Font-size: 400%;
  Background-color:white;
  Color: black;
}
p.but{
  Background: url(ga.jpg) no-repeat center;
}
p.rr{
  Color: black;
  Background-color: white;
  Text-align: left;
  Font-family: timesnewroman;
  Border:2px solid mediumseagreen;
  Padding: 30px;
}

Ol {
  Color: black;
  Background: #2e8558;
  Padding: 15px;
  Font-Family: timesnewroman;
  Text-align: left;
}
Ol li{
  Background: mintcream;
  Padding: 3px;
  Margin-left: 35px;
}


.accordion {
  background-color: #86592d;
  color: ##f9f2eb;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  Font-family: rambla;
  font-size: 15px;
  transition: 0.4s;
}


.active, .accordion:hover {
  background-color: #d09962; 
}

.panel {
  padding: 0 18px;
  display: none;
  Font-family: rambla;
  background-color:#edd9c4;
  overflow: hidden;
}


p.faq{
  Color:Black;
  Background-color: transparent;
  Font-family: rambla;
  Text-align: left;

}

P.contactus{
  Border: 4px solid #ccf2ff;
  color: white;
  font-family: copperplate;
  Font-size: 100%;
}
